<hr>
<footer class="footer bg-light mt-auto py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h3 class="text-black">Közösségi oldalaink</h3>
        <div class="d-flex justify-content-start">
          <a href="error404" class="btn btn-link">
            <i class="fab bi-instagram fa-lg fa-2x text-primary"></i>
          </a>
          <a href="error404" class="btn btn-link">
            <i class="fab bi-tiktok fa-lg fa-2x text-primary"></i>
          </a>
          <a href="error404" class="btn btn-link">
            <i class="fab bi-youtube fa-lg fa-2x text-primary"></i>
          </a>
          <a href="error404" class="btn btn-link">
            <i class="fab bi-twitter fa-lg fa-2x text-primary"></i>
          </a>
          <a href="error404" class="btn btn-link">
            <i class="fab bi-facebook fa-lg fa-2x text-primary"></i>
          </a>
        </div>
      </div>
      
      <div class="col-md-4 mb-3">
        <h3 class="text-black">Töltsd le az appunkat!</h3>
        <div class="d-flex justify-content-center">
          <a href="error404">
            <img src="/assets/download-app-store.png" alt="App Store" class="img-fluid" style="max-width: 150px;">
          </a>
          <a href="error404">
            <img src="/assets/download-google-play.png" alt="Google Play" class="img-fluid" style="max-width: 150px;">
          </a>
        </div>
      </div>
      
      <div class="col-md-4 mb-3">
        <h3 class="text-black">Jogi nyilatkozat</h3>
        <div class="btn-group-vertical">
          <a href="error404" class="btn btn-link text-dark">Adatvédelem</a>
          <a href="error404" class="btn btn-link text-dark">Sütik használatára vonatkozó irányelveink</a>
          <a href="error404" class="btn btn-link text-dark">Feltételek</a>
        </div>
      </div>
    </div>
  </div>
</footer>
