<hr >
<footer class="footer bg-light mt-auto py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
            <h3 class="text-black mb-3">Közösségi oldalaink</h3>
            <div class="d-inline-flex justify-content-between">
              <button class="btn btn-link">
                <i class="fab bi-instagram fa-lg fa-2x text-primary"></i>
              </button>
              <button class="btn btn-link">
                <i class="fab bi-tiktok fa-lg fa-2x text-primary"></i>
              </button>
              <button class="btn btn-link">
                <i class="fab bi-youtube fa-lg fa-2x text-primary"></i>
              </button>
              <button class="btn btn-link">
                <i class="fab bi-twitter fa-lg fa-2x text-primary"></i>
              </button>
              <button class="btn btn-link">
                <i class="fab bi-facebook fa-lg fa-2x text-primary"></i>
              </button>
            </div>
          </div>
          
          <div class="col-md-4">
            <h3 class="text-black mb-3">Töltsd le az appunkat!</h3>
            <div class="d-flex">
              <a href="#">
                <img src="/assets/download-app-store.png" alt="App Store" class="img-fluid" style="max-width: 150px;">
              </a>
              <a href="#">
                <img src="/assets/download-google-play.png" alt="Google Play" class="img-fluid" style="max-width: 150px;">
              </a>
            </div>
          </div>
          
        
        <div class="col-md-4">
          <h3 class="text-black mb-3">Jogi nyilatkozat</h3>
          <div class="btn-group-vertical">
            <button type="button" class="btn btn-link text-dark">Adatvédelem</button>
            <button type="button" class="btn btn-link text-dark">Sütik használatára vonatkozó irányelveink</button>
            <button type="button" class="btn btn-link text-dark">Feltételek</button>
          </div>
        </div>
      </div>
    </div>
  </footer>
  