.bg-image {
  background-image: url('../../../../assets/sjhattervegleges.png');

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: calc(90vh - 20px); /* subtract 20px margin from 90vh */
  
}

.my-card {
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.my-text-shadow {
  text-shadow: 1px 1px 2px #000000;
}

.my-card-line {
  border: none;
  border-top: 1px solid #ddd;
  height: 1px;
  margin: 10px 0;
}

button.btn-primary {
  background-color: #F5A623;
  border-color: #F5A623;

  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;

}
button.btn-primary:hover,
button.btn-primary:focus {
  background-color: #fff;
  border-color: #fff;
  color: #F5A623;
}