<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Regisztráció</h3>
            <div class="alert alert-danger" *ngIf="registrationFailed" role="alert">
              Hiba történt a regisztráció közben. Kérem nézze át az adatait, és próbálja újra.
            </div>
            <div class="alert alert-success" *ngIf="registrationSuccess" role="alert">
              Sikeres regisztráció!
            </div>
            <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="lastName" class="form-control form-control-lg" [(ngModel)]="lastName" name="lastName" required />
                    <label class="form-label" for="firstName">Vezetéknév</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="firstName" class="form-control form-control-lg" [(ngModel)]="firstName" name="firstName" required />
                    <label class="form-label" for="lastName">Keresztnév</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input type="email" id="emailAddress" class="form-control form-control-lg" [(ngModel)]="email" name="email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" #emailInput="ngModel" />
                    <label class="form-label" for="emailAddress">Email</label>
                    <div class="text-danger" *ngIf="emailInput.touched && emailInput.invalid && emailInput.errors && emailInput.errors.hasOwnProperty('pattern')">
                      Kérlek, adj meg egy érvényes email címet.
                    </div>                    
                  </div>
                </div>
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input type="{{ showPassword ? 'text' : 'password' }}" id="form3Example4cg" class="form-control form-control-lg" [(ngModel)]="password" name="password" [ngModelOptions]="{ standalone: true }" [required]="true" [pattern]="passwordPattern" #passwordInput="ngModel" />
                    <label class="form-label" for="form3Example4cg">Jelszó</label>
                    <button class="btn btn-link p-0" type="button" style="position: absolute; top: calc(50% + 10px); right: 0;" (click)="togglePasswordVisibility()">
                      {{ showPassword ? 'Elrejtés' : 'Mutatás' }}
                    </button>
                    <div class="text-danger" *ngIf="passwordInput.touched && passwordInput.invalid && passwordInput.errors && (passwordInput.errors['required'] || passwordInput.errors['pattern'])">
                      Kérlek, adj meg egy érvényes jelszót.
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="d-flex justify-content-center align-items-center">
                <h6 class="mb-2 pb-1 mr-3">Típus:</h6>
              
                <div class="form-check form-check-inline mr-3">
                  <input class="form-check-input" [(ngModel)]="workType" type="radio" name="inlineRadioOptions" id="Munkaadó" value="1" />
                  <label class="form-check-label" for="Munkaadó">Munkaadó</label>
                </div>
              
                <div class="form-check form-check-inline">
                  <input class="form-check-input" [(ngModel)]="workType" type="radio" name="inlineRadioOptions" id="Munkakereső" value="2" checked />
                  <label class="form-check-label" for="Munkakereső">Munkakereső</label>
                </div>
              </div>
              
              <div class="d-flex justify-content-center">
                <input class="btn btn-primary btn-lg" type="submit" value="Regisztráció" />
              </div>
              
              <p class="text-center text-muted mt-5 mb-0">Van már fiókod? Jelentkezz be itt <a href="#!" class="fw-bold text-body" routerLink="/login"><u>Bejelentkezés</u></a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
