<div class="bg">

    <div class="row">
        <div class="col-md-3">
                    <div class="col-md-12">
                        <img class="img-fluid rounded-circle mb-3" src="{{ profilePictureUrl }}" alt="Profile Picture">
                      </div>
                      <div class="col-md-12">
                        <h2>{{ firstName }} {{ lastName }}</h2>
                    </div>
                </div>

                </div>
                <div class="col-md-9">
                  <div>                    <div class="mb-3">
                      <input type="file" (change)="onProfilePictureSelected($event)">
                      
                    </div>

                    
                    <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="row">
                            <div class="col-md-4">Gender:</div>
                          <div class="col-md-8">
                            <span *ngIf="!editingGender">{{ gender }}</span>
                            <input *ngIf="editingGender" type="text" [(ngModel)]="gender" class="form-control">
                            <button class="btn btn-primary btn-sm" (click)="toggleEditing('gender')">
                              {{ editingGender ? 'Mentés' : 'Szerkesztés' }}
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                          <div class="row">
                          <div class="col-md-4">Age:</div>
                          <div class="col-md-8">
                            <span *ngIf="!editingAge">{{ age }}</span>
                            <input *ngIf="editingAge" type="number" [(ngModel)]="age" class="form-control">
                            <button class="btn btn-primary btn-sm" (click)="toggleEditing('age')">
                                {{ editingAge ? 'Mentés' : 'Szerkesztés' }}
                            </button>
                        </div>
                        </div>
                      </div>
                    </div>
                    </div>



                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <div class="row">
                          <div class="col-md-4">Qualification:</div>
                          <div class="col-md-8">
                            <span *ngIf="!editingQualification">{{ qualification }}</span>
                            <input *ngIf="editingQualification" type="text" [(ngModel)]="qualification" class="form-control">
                            <button class="btn btn-primary btn-sm" (click)="toggleEditing('qualification')">
                              {{ editingQualification ? 'Mentés' : 'Szerkesztés' }}
                            </button>
                          </div>
                        </div>
                    </div>
                      <div class="col-md-6 mb-3">
                        <div class="row">
                          <div class="col-md-4">Location:</div>
                          <div class="col-md-8">     
                              <span *ngIf="!editingLocation">{{ location }}</span>
                              <input *ngIf="editingLocation" type="text" [(ngModel)]="location" class="form-control">
                              <button class="btn btn-primary btn-sm" (click)="toggleEditing('location')">
                                  {{ editingLocation ? 'Mentés' : 'Szerkesztés' }}
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <!-- <button (click)="printId()">Print ID</button> -->
                    </div>
                    <div class="row" >
                      <div class="col-md-6 mb-3 ">
                        <div class="row ">
                          <div class="col-md-4 ">Skills:</div>
                          <div class="col-md-8">
                            <span *ngIf="!editingSkills">{{skills}}</span>
                            <textarea *ngIf="editingSkills" [(ngModel)]="skills" class="form-control"></textarea>
                            <button class="btn btn-primary btn-sm" (click)="toggleEditing('skills')">
                            {{ editingSkills ? 'Mentés' : 'Szerkesztés' }}
                            </button>
                            </div>
                            </div>
                            </div>
                            <div class="col-md-6 mb-3">
                            <div class="row">
                            <div class="col-md-4">Bio:</div>
                            <div class="col-md-8">
                            <span *ngIf="!editingBio">{{ bio }}</span>
                            <textarea *ngIf="editingBio" [(ngModel)]="bio" class="form-control"></textarea>
                            <button class="btn btn-primary btn-sm" (click)="toggleEditing('bio')">
                            {{ editingBio ? 'Mentés' : 'Szerkesztés' }}
                            </button>
                            </div>
                  </div>
                  
                </div>
                <button class="btn btn-primary" style="margin-left: 100%;" (click)="uploadProfilePicture()">Adatok feltöltése</button>
              </div>
              
            </div>