<app-logged-in-navbar></app-logged-in-navbar>
<div class="bg-primary text-light p-3">
    <h1>Új munka létrehozása!</h1>
  
  <div class="container my-4">
    <div class="card mx-auto" style="width: 30rem;">
      <img [src]="imageSrc" class="card-img-top" style="width: 300px;margin-left: 50px;" alt="Placeholder image">
      <div class="card-body">
        <input type="text" class="form-control mb-2" [(ngModel)]="title" placeholder="Munka címe">
        <div class="btn-group mb-2">
          <button type="button" class="btn btn-primary"
                  [ngClass]="{'active': priceType === 'fixed'}"
                  (click)="onPriceTypeChanged('fixed')"
                  [disabled]="priceType === 'fixed'">Egyszeri fizetés</button>
          <button type="button" class="btn btn-primary"
                  [ngClass]="{'active': priceType === 'hourly'}"
                  (click)="onPriceTypeChanged('hourly')"
                  [disabled]="priceType === 'hourly'">Órabér</button>
        </div>
        <div *ngIf="priceType === 'fixed'">
          <input type="number" class="form-control mb-2" [(ngModel)]="fixedPrice" placeholder="Fixed price">
        </div>
        <div *ngIf="priceType === 'hourly'">
          <input type="number" class="form-control mb-2" [(ngModel)]="hourlyPrice" placeholder="Hourly price">
        </div>
        <textarea class="form-control mb-2" [(ngModel)]="description" placeholder="Job description"></textarea>
        <button type="button" class="btn btn-primary" (click)="onSubmit()">Feltöltés!</button>
      </div>
    </div>
  </div>
</div>
  
<app-footer></app-footer>