<div class="container-fluid">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card mx-auto text-center p-5 my-card">
            <h3 class="my-card-title">Garantált munka</h3>
            <hr class="my-card-line">
            <p class="my-card-text">Keress munkát a legegyszerűbben! Garantált munkalehetőségek! Csak töltsd ki az adataidat és a hozzád legközelebb álló és illő munkákat fogod látni! Percek alatt megfogod találni az álom melód!</p>
          
          </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card mx-auto text-center p-5 my-card">
            <h3 class="my-card-title">Ellenőrzött partnerek!</h3>
            <hr class="my-card-line">
            <p class="my-card-text">Minden partnerünket gondosan ellenőrizünk és így az átverések lehetősége lehetetlen. Ha mégis bármi fennakadás történne, vedd fel a kapcsolatot az ügyfélszolgálatunkkal és 24 órán belül megkapod a megfelelő kompenzációt! Itt soha nem veszíthetsz!</p>
          </div> 
         </div> 
      <div class="col-md-4 mb-4">
        <div class="card mx-auto text-center p-5 my-card">
            <h3 class="my-card-title">Inkább munkát kínálnál?</h3>
            <hr class="my-card-line">
            <p class="my-card-text">Ha munkát kínálnál akkor is jó helyen jársz! regisztrációnál regisztrálj munkaadóként, és pillanatokon belül már el is készítheted az álláshírdetésed! </p>
          </div>

      </div>
    </div>
  </div>
