.bg-beige {
  background-color: #ffc100;

margin-left: 10%;
margin-right: 10%;

}

.card {
  margin-top: 50px;
  max-width: 400px;
  width: 100%;
  background-color: white;
  border-radius: 10px 10px 0px 0px; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-left: 25%;
  }
  
  .card-img-top {
  height: 250px; 
  object-fit: cover;
  border-radius: 0px 0px 10px 10px; 
  }

.card-title {
  font-size: 2rem;
  font-weight: 500;
}

.card-text {
  font-size: 1.2rem;
  font-weight: 400;
}

.card-footer {
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.font-size-sm {
  font-size: 1rem;
}

.btn-lg {
  width: 120px;
  height: 120px;
  font-size: 1.5rem;

}